{% extends "home/base.html" %}
{% load static_extras %}

{% block content %}
    <section id="about-intro" class="about-intro py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 order-2 order-lg-1">
                <h1 class="about-intro-title">Who We Are</h1>
                <p>
                    Founded by Nick & George Vamvakas in 2025, All About Film has always been committed to making gear more
                    accessible and affordable, and helping to visualise a more sustainable future. We now
                    recirculate 1000 items a year, extending the life and creative potential of photo and
                    video equipment for creators around the world.
                </p>
                <p class="mb-0">
                    Headquartered in the creative community of Elefsina in Greece, the MPB team
                    includes trained camera experts and seasoned photographers and videographers who bring
                    their passion to work every day to deliver outstanding service. All used gear is inspected
                    carefully by our product specialists and comes with a twelve-month warranty to give our
                    customers peace of mind that buying used doesn&rsquo;t mean sacrificing reliability.
                </p>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="{% static_v 'images/founders.jpg' %}" alt="The founders of All About Film" class="about-intro-img">
            </div>
        </div>
    </section>
    <section id="about-promise" class="about-promise border-top py-5">
        <div class="about-promise align-items-center">
            <h1 class="about-promise-title">Our Promise</h1>
                <p>
                    Our unique platform provides the right price for every piece of gear based on make, model, cosmetic condition, and market, across a huge selection of camera bodies, lenses and film stocks. At All About Film, there’s something for everyone who wants to try something new, hone their skills, or pursue their passion — and it won’t cost the earth.
                </p>
        </div>
    </section>
{% endblock %}
