{% extends "home/base.html" %}

{% block content %}
<div class="policy-page container py-5">
    <h1 class="mb-4">Payment Options</h1>

    <p>We accept the following payment methods &amp; options (NOTE: not all options are available in all regions):</p>

    <h3 class="mt-5">Accelerated Payments</h3>
    <ul>
        <li>Apple Pay</li>
        <li>Google Pay</li>
        <li>PayPal</li>
    </ul>

    <h3 class="mt-5">Card Payments</h3>
    <ul>
        <li>Visa</li>
        <li>Maestro</li>
        <li>Mastercard</li>
        <li>American Express</li>
    </ul>

    <h3 class="mt-5">Other Payments</h3>
    <ul>
        <li>Cash or card on local pickup</li>
        <li>Klarna Pay later</li>
        <li>Klarna Pay in installments</li>
        <li>Klarna Pay in 3</li>
        <li>Pay by Bank (direct bank transfers from major European banks)</li>
    </ul>
    <p>Klarna is currently available for customers in Austria, Belgium, Czechia, Denmark, Finland, France, Greece, Germany, Ireland, Italy, Netherlands, Norway, Poland, Portugal, Romania, Spain, Sweden, Switzerland, &amp; United Kingdom. Exact Klarna options vary by region.</p>
</div>
{% endblock %}
